// Navbar
.navbar {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .nav-link {
        color: #000 !important;
        &:hover {
            color: #0f72be !important;
            transition: .25s;
        }
    }
    .navbar-brand {
        color: #0f72be !important;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

// Footer
.footer {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    .footer-content {
        margin: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        h4 {
            text-align: center !important;
            color: #0f72be;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
        }
        span {
            color: #000;
            text-align: center;
        }
    }
}

// Banner
.banner {
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}

// Dashboard
.dashboard {
    background-color: #fff;
}

// Content
.content {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    .content-title {
        display: flex;
        justify-content: space-between;
        h4 {
            text-align: center;
        }
        a {
            color: #0f72be;
            text-decoration: none;
            &:hover {
                color: #000;
                transition: .25s;
            }
        }
    }
    .content-donasi {
        padding: 20px;
        .content-donasi-image img{
            width: 100%;
            height: 100%;
        }
        .content-donasi-desc {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 20px;
            .donasi-1 {
                height: 80%;
            }
            .donasi-2 {
                height: 20%;
            }
        }
    }
}