// Navbar
.navbar {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .nav-link {
        color: #000 !important;
        &:hover {
            color: #0f72be !important;
            transition: .25s;
        }
    }
    .navbar-brand {
        color: #0f72be !important;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2px;
        a {
            text-decoration: none;
            color: #0f72be !important;
        }
    }
    .btn-profile button {
        padding: 0 5px !important;
        // margin-top: 5px;
        color: black !important;
        background-color: transparent !important;
        border: none !important;
        font-size: 1rem;
    }
    .dropdown {
        .dropdown-item {
            font-size: .85rem;
        }
    }
}

// Footer
.footer {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    .footer-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        h4 {
            text-align: center !important;
            color: #0f72be;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
        }
        span {
            color: #000;
            text-align: center;
        }
    }
}

// Banner
.banner {
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}

// Dashboard
.dashboard {
    background-color: #fff;
}

// Content
.content {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    .content-title {
        display: flex;
        justify-content: space-between;
        .content-title-name {
            display: flex;
            h4 {
                text-align: center;
            }
            h5 {
                text-align: left;
                margin-left: 5px;
                color: #1072BE;
            }
        }
        a {
            color: #0f72be;
            text-decoration: none;
            &:hover {
                color: #000;
                transition: .25s;
            }
        }
    }
    .content-donasi {
        padding: 20px;
        .content-donasi-image img{
            width: 100%;
            height: 100%;
        }
        .content-donasi-desc {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 20px;
            .donasi-1 {
                height: 80%;
            }
            .donasi-2 {
                height: 20%;
            }
        }
    }
}

// Content2
.content2 {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    .content-title {
        display: flex;
        justify-content: space-between;
        .content-title-name {
            display: flex;
            h4 {
                text-align: center;
            }
            h5 {
                text-align: left;
                margin-left: 5px;
                color: #1072BE;
            }
        }
        a {
            color: #0f72be;
            text-decoration: none;
            &:hover {
                color: #000;
                transition: .25s;
            }
        }
    }
    .content-donasi {
        padding: 20px;
        .content-donasi-image{
            // width: 100%;
            // height: 100%;
            width: 100px;
            height: 100px;
            background-color: #0f72be;
        }
        .content-donasi-desc {
            // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            // padding: 20px;
            // .donasi-1 {
            //     height: 80%;
            // }
            // .donasi-2 {
            //     height: 20%;
            // }
        }
    }
}

.order {
    background-color: #fff;
    padding: 20px;
    .donasi-amount {
        input[type=text] {
            border: 1px solid gray;
            padding: 5px;
            border-radius: 8px;
            max-width: 350px !important;
            margin-top: 5px;
        }
        .donasi-amount-content {
            display: flex;
            flex-direction: column;
        }
    }
    
    .form-check-inline {
        border: 1px solid gray !important;
        padding: 10px !important;
        border-radius: 8px;

    }
}

.checkout {
    background-color: #fff;
    padding: 20px;
    .checkout-content {
        span {
            text-align: center;
        }
        .checkout-amount {
            border: 1px solid #0f72be;
            padding: 10px;
            border-radius: 8px;
            &:hover {
                background-color: #f7f7f7;
                border-color: #000;
                transition: .25s;
            }
            h3 {
                text-align: center;
                padding: 10px;
                margin: auto;
            }
        }
        .checkout-copy-link {
            color: gray;
            cursor: pointer;
            font-size: .7rem;
            .icon {
                margin-right: 5px;
            }
            &:hover {
                color: #0f72be;
            }
        }
    }
}

.list-program {
    img {
        width: 100%;
        height: 100%;
    }
    .program-content {
        padding: 10px;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.detail-program {
    background: #fff;
    padding: 20px;
    .donasi-progressbar {
        margin: 5px;
    }
}

.list-donasi-dua {
    background-color: white;
    .carousel {
        padding: 10px;
    }
    .button-donasi {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}